@using CakeShop.Models
@model Login
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("Index", "Pedido")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <h2>Login</h2>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.LoginUsuario, "Usuário", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.LoginUsuario, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Senha, "Senha", new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.ActionLink("É Administrador?", "Index", "Login")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger" >Entrar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
