@using CakeShop.Models
@model Usuario
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="@Url.Action("Entrar", "Usuario")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <h2>Login</h2>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Usuário", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Senha, "Senha", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger" >Entrar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
