@using CakeShop.Models
@model List<Cliente>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>Clientes</h3>
        <hr />
    </div>
</div>
<div class="row>">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Nome de usuário</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nome</td>
                            <td>@item.Email</td>
                            <td>@item.Telefone</td>
                            <td>@item.Login</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
