@using CakeShop.Models
@model List<Produto>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>Salgados</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("CadastroProduto", "Produtos")" class="btn btn-danger" style="margin-bottom: 20px;">Incluir Salgado</a>
    </div>
</div>
<div class="row>">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Categoria</th>
                        <th>UDM</th>
                        <th>Preço</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Produto item in Model)
                    {
                        <tr>
                            <td>@item.Id_Produto</td>
                            <td>@item.Nome_Produto</td>
                            <td>@item.Categoria.Nome_Categoria</td>
                            <td>@item.UnidadeDeMedida.Nome</td>
                            <td>@item.Preco</td>
                            <td>@item.Descricao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
