
@using CakeShop.Models
@model List<Cliente>
<div class="row>">
    <div class="col-md-12">
        <h1>Clientes</h1>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Nome de usuário</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente item in Model)
                    {
                        <tr>
                            <td>@item.Id_Cliente</td>
                            <td>@item.Nome_Cliente</td>
                            <td>@item.Email</td>
                            <td>@item.Telefone</td>
                            <td>@item.Login_usuario</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
