@using CakeShop.Models
@model UnidadeDeMedida
    <div class="row">
        <div class="col-md-12">
            <h3>Cadastro de Unidade de Medida</h3>
            <hr />
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar", "UnidadeDeMedida")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m=>m.Nome,"Nome da unidade", new { @class="control-label"})
                    @Html.TextBoxFor(m => m.Nome, new { @class="form-control"})
                </div>

                <div class="col-md-12">
                    @Html.LabelFor(m => m.Sigla, "Sigla", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-danger">Salvar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>