@using CakeShop.Models
@model Produto
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>Cadastro de produto</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" action="@Url.Action("SalvarProduto", "Produto")">
            @Html.HiddenFor(m => m.Id_Produto)
            @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
            {
                <div class="form-row">
                    <div class="form-group col-md-12 text-center">
                        <div class="alert alert-danger" role="alert" style="margin-bottom: 0px !important;">
                            @ViewBag.Error
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Nome_Produto, "Nome do produto", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome_Produto, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Categoria.Id_Categoria, "Categoria", new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Categoria.Id_Categoria, new SelectList(ViewBag.Categorias ?? new List<Categoria>(), "Id_Categoria", "Nome_Categoria"), "--[SELECIONE]--", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.UnidadeDeMedida.Id_UnidadeDeMedida, "Unidade de Medida", new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.UnidadeDeMedida.Id_UnidadeDeMedida, new SelectList(ViewBag.Unidades ?? new List<UnidadeDeMedida>(), "Id_UnidadeDeMedida", "Nome"), "--[SELECIONE]--", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Preco, "Preço", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Preco, new { @id = "txtPreco", @class = "form-control" }) @*, @type = "number", @step = ".01"*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Foto, "Foto:", new { @id = "lblFoto", @class = "control-label" })

                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Foto, new { @id = "txtFoto", @class = "form-control", @maxlength = 1000, @readonly = true })
                        <span class="input-group-btn">
                            <span class="btn btn-danger fileinput-button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <input id="fupArquivo" type="file" name="files[]" multiple="multiple" data-url="@Url.Action("Upload", "Produto")" />
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Descricao, "Descrição", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @rows = 10 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-danger">Salvar</button>
                    <button onclick="document.location.href='@Url.Action("Index", "Pedido")' "type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#txtPreco").setMask("decimal");
            $('#fupArquivo').change(function (e) {
                e.preventDefault();
                e.stopPropagation();
                var data = new FormData();
                var files = $(this).get(0).files;

                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        data.append(files[i].name, files[i]);
                    }
                }

                $.ajax({
                    url: $("#fupArquivo").data("url"),
                    data: data,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#txtFoto").val(result);
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
        });
    </script>
}