<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- SLIDE ONE -->
            <div class="carousel-item" style="background-image: url('@Url.Content("~/Imagens/Outras páginas/churros-2188871_1920.jpg")')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <!-- SLIDE TWO -->
            <div class="carousel-item" style="background-image: url('@Url.Content("~/Imagens/Bolos/cupcakee.jpg")')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <!-- SLIDE THREE -->
            <div class="carousel-item" style="background-image: url('@Url.Content("~/Imagens/Outras páginas/pagina inicial 2.jpg")')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <!-- SLIDE FOUR -->
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/Imagens/Outras páginas/página inicial.jpg")')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
<section class="py-5">
    <div class="container text-center">
        <h2 class="meuTexto">CONHEÇA O CAKESHOP</h2>
        <h3 class="meuTexto">
            Faça sua festa com o Cake Shop,  super fácil de encomendar Bolos, Doces e Salgados.  
        </h3>
    </div>
</section>
<section class="py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("PaginaBolos", "Produto")">
                    <img class="img-fluid" src="~/Imagens/Bolos/cake-3019638_1920.jpg" />
                    <h3 style="padding-top: 10px; color: #303030; font-family: 'Raleway',sans-serif;">Bolos</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("PaginaDoces", "Produto")">
                    <img class="img-fluid" src="~/Imagens/Outras páginas/cupcakes page home.jpg" />
                    <h3 style="padding-top: 10px; color: #303030; font-family: 'Raleway',sans-serif;">Doces</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("PaginaSalgados", "Produto")">
                    <img class="img-fluid" src="~/Imagens/Salgados/mini quiche de cebola.jpg"/>
                    <h3 style="padding-top: 10px; color: #303030; font-family: 'Raleway',sans-serif;">Salgados</h3>
                </a>
            </div>
        </div>
    </div>
</section>