@using CakeShop.Models
@model Pedido

<div class="row">
    <div class="col-md-12">
        <h1>Pedido @Model.Id_Pedido</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="table table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Itens</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>
            </table>
        </div>

        <form action="@Url.Action("CadastroPedido", "Pedido")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Cliente.Nome, "Nome", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.DataEntrega, "Data de entrega", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.DataEntrega, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.HorarioEntrega, "Horário de entrega", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.HorarioEntrega, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Local de entrega</h1>
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Cliente.Endereco, "Rua", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Endereco, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Cliente.Numero, "Número", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Numero, new { @class = "form-control" })
                </div>
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Cliente.CEP, "CEP", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.CEP, new { @class = "form-control" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Cliente.Complemento, "Complemento", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Complemento, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Cliente.Estado, "Estado", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Estado, new { @class = "form-control" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.Cliente.Cidade, "Cidade", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cliente.Cidade, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger">Continuar</button>
                    <button type="button" class="btn btn-danger">Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>

