@using CakeShop.Models
@model Pedido
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>PEDIDO @Model.Id_Pedido</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="#" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Cliente.Nome, "Cliente:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Nome, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.DataPedido, "Data do Pedido:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.DataPedido, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.DataEntrega, "Data de Entrega:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.DataEntrega, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9">
                        @Html.LabelFor(m => m.Cliente.Endereco, "Endereço:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Endereco, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Cliente.Numero, "Número:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Numero, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Cliente.Complemento, "Complemento:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Complemento, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Cliente.CEP, "CEP:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.CEP, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Cliente.Cidade, "Cidade:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Cidade, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.Cliente.Estado, "UF:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cliente.Estado, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Produto, "Itens do pedido:", new { @class = "control-label" })
                        <br />
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Código do produto</th>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                        <th>UM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ItemPedido item in Model.Itens)
                                    {
                                        <tr>
                                            <td>@item.Produto.Id_Produto</td>
                                            <td>@item.Produto.Nome_Produto</td>
                                            <td>@item.Quantidade</td>
                                            <td>@item.Produto.UnidadeDeMedida.Nome</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default" onclick="document.location.href='@Url.Action("Index", "Pedido")'">Voltar para lista</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
