@using CakeShop.Models
@model Cliente
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container">
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="col-md-6">
            <h2>É Cadastrado?</h2>
            <hr />
            <form action="@Url.Action("Entrar", "Cliente")" class="form-horizontal">
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                {
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <div class="alert alert-danger" role="alert" style="margin-bottom: 0px !important;">
                                @ViewBag.ErrorMsg
                            </div>
                        </div>
                    </div>
                }
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Login, "Usuário", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Senha, "Senha", new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn btn-danger">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6" style="border-left: 1px solid rgba(0,0,0,.1)">
            <h2>Faça seu cadastro</h2>
            <h4>* Obrigatório</h4>
            <hr />
            <form action="@Url.Action("Cadastrar", "Cliente")" class="form-horizontal">
                 @if (!string.IsNullOrWhiteSpace(ViewBag.MessageError))
                 {
                    <div class="form-row">
                        <div class="form-group col-md-12 text-center">
                            <div class="alert alert-danger" role="alert" style="margin-bottom: 0px !important;">
                                @ViewBag.ErrorMsg
                            </div>
                        </div>
                    </div>

                 }



                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Nome, "Nome *", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.LabelFor(m => m.Email, "Email *", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(m => m.Telefone, "Telefone", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Login, "Nome de Usuário *", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Senha, "Senha *", new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn btn-danger">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>