@using CakeShop.Models
@model List<Pedido>
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Meus pedidos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código do Pedido</th>
                            <th>Status</th>
                            <th>Data de pedido</th>
                            <th>Data Entrega</th>
                            <th>Quantidade de itens</th>
                            <th>Valor Total (R$)</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pedido in Model)
                        {
                            <tr>
                                <td>@pedido.Id_Pedido</td>
                                <td>@ExtensionMethods.GetEnumDescription(pedido.Status)</td>
                                <td>@string.Format("{0:dd/MM/yyyy}", pedido.DataPedido)</td>
                                <td>@string.Format("{0:dd/MM/yyyy HH:mm}", pedido.DataEntrega)</td>
                                <td>@string.Format("{0:N0}", pedido.Itens.Count)</td>
                                <td>@string.Format("{0:C2}", pedido.Itens.Sum(o => o.Preco * o.Quantidade))</td>
                                <td>
                                    <a href="@Url.Action("Detalhes", "Pedido", new { @id = pedido.Id_Pedido })">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>