@using CakeShop.Models
@model Cliente
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Minha Conta</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="@Url.Action("MinhaConta", "Cliente")" class="form-horizontal">
                <div class="form-row">
                    <div class="form-group col-lg-8">
                        @Html.LabelFor(m => m.Nome, "Nome", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.Telefone, "Telefone", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(m => m.Email, "E-mail", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-10">
                        @Html.LabelFor(m => m.Endereco, "Endereço", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(m => m.Numero, "Número", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.Complemento, "Complemento", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.Cidade, "Cidade", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.Estado, "Estado", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12 text-right">
                        <button type="submit" class="btn btn-danger" onclick="document.location.href='@Url.Action("SalvarMeusDados", "Cliente")'">Salvar meus dados</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
