<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CakeShop</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CakeShop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Pedido")">Pedidos</a></li>
                    <li><a href="@Url.Action("CadastroProduto", "Produto")">Cadastrar Produto</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("TabelaClientes", "Usuario")">Lista de Clientes</a></li>
                            <li><a href="@Url.Action("TabelaProdutosBolos", "Usuario")">Lista de Bolos</a></li>
                            <li><a href="@Url.Action("TabelaProdutosDoces", "Usuario")">Lista de Doces</a></li>
                            <li><a href="@Url.Action("TabelaProdutosSalgados", "Usuario")">Lista de Salgados</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("LogOff", "Login")">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap3.js"></script>
    <script src="~/Scripts/meiomask.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>