<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="@Url.Action("Cadastro", "Cliente")">Cliente</a></li>
                    <li><a href="@Url.Action("Index", "Contato")">Contato</a></li>
                   


                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Doces", "Produto")">Doces</a></li>
                            <li><a href="@Url.Action("Salgados", "Produto")">Salgados</a></li>
                            <li><a href="@Url.Action("Bolos", "Produto")">Bolos</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Login")">Login Confeiteira</a></li>
                            <li><a href="@Url.Action("Index", "Pedido")">Lista de pedidos</a></li>
                            <li><a href="@Url.Action("CadastroProduto", "Produto")">Cadastrar Produtos</a></li>
                            <li><a href="@Url.Action("TabelaClientes", "Usuario")">Lista de clientes</a></li>
                            <li><a href="@Url.Action("TabelaProdutosDoces", "Usuario")">Lista Doces</a></li>
                            <li><a href="@Url.Action("TabelaPRodutosSalgados", "Usuario")">Lista Salgados</a></li>
                            <li><a href="@Url.Action("TabelaPRodutosBolos", "Usuario")">Lista Bolos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @*<img src="@Url.Content("~/Images/bolo-cakeShop.jpg")" />*@
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
